<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

<h1>InstaFake</h1>

<table id='table-container' class='table table-striped'>
  <thead>
    <th>

    </th>
  </thead>
  <tbody>

  </tbody>
</table>


<script type="text/template" id='table-row-tpl'>

</script>

<script type="text/javascript" src='/scripts/app.crud.js'></script>
