<h1>Exercise 7</h1>

<h3>Making a Model</h3>

<p>
  Create a namespace of your choosing. Then, create a model with a URL to a movie somewhere on OMDB. Then, fetch the data and use the on.change() event to log in the console the model.attributes.
</p>
